h1 {
    color: white;
    background-color: rgb(255, 236, 22);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
}

h2 {
    color: white;
    background-color: rgb(255, 236, 22);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    font-weight: lighter;
}

.pic-block {
    height: 900px;
    background-image: url("pic/priroda.jpg");
}

.zagolovok {
    color: rgb(0, 0, 0);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    font-weight: lighter;
    font-size:larger 
}

.text {
    color: rgb(0, 0, 0);
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    margin: 0px;
    font-weight: lighter;
}

.footer-block {
    background-color: rgb(255, 236, 22);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content:space-between;
}

.name {
    font-weight:bold;
    font-size:large;
    margin-top:70px;
}